 body {
	 font-family: Arial, sans-serif;
	  background: #efefef;
 margin:0;
	padding:0;
 }
 
 nav{
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  background: #1876f2
	  padding: 5px 5%;
  }
  
  .logo img {
  width: 160px;
  height: 100px;
  margin-right: 10px;
}


 nav-left{
	  display: flex;
	  align-items: center;
	  
 }
	  